* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:inherit;
}
html,
body {
    height: 100%;
    width: 100%;
}
.contain{
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: row;
}

